@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.lardlad{
position: absolute;
width: 1067px;
height: 158px;
left: 176px;
top: 22px;

font-family: Sigmar One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 96px;
color: #B60000;
}

.donuts{
position: absolute;
width: 1067px;
height: 158px;
left: 700px;
top: 22px;

font-family: Sigmar One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 96px;
color: #214CFE;

}
.links{
    position: absolute;
width: 278px;
height: 89px;
left: 1309px;
top: 13px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;

color: #ED5AA0;
}
.links1{
    position: absolute;
width: 304px;
height: 116px;
left: 24px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}

.links2{
    position: absolute;
width: 135px;
height: 57px;
left: 328px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}

.links3{
    position: absolute;
width: 132px;
height: 57px;
left: 947px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}
.links4{
position: absolute;
width: 215px;
height: 57px;
left: 1129px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}

.lardladimg{   
position: absolute;
left: 486px;
top: 160px;
}

.donut1{   
position: absolute;
left: 720px;
top: -250px;
}
.donut2{
position: absolute;
left: -181px;
top: -363px;
}

.donut3{
position: absolute;
left: -50px;
top: 6px;
}



.donut5{
    
position: absolute;
left: -280px;
top: 241px;

}

.donut6{
position: absolute;
left: -181px;
top: -363px;

}
.donut7{
position: absolute;
left: 1091px;
top: -522px;
}

.lard{
position: absolute;
left: 0px;
top: 258px;

}

.text{
    position: absolute;
width: 595px;
height: 584px;
left: 803px;
top: 252px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;

color: #ED5AA0;
}

.homer1{
position: absolute;
left: 84px;
top: 70px;
}
.donut10{
    position: absolute;
left: 1091px;
top: -203px;
}

.donut11{
position: absolute;
left: 250px;
top: 34px;
}

.donut12{
    position: absolute;

left: 390px;
top: 224px;
}

.donut13{
    position: absolute;

left: 549px;
top: 135px;
}

.donut14{
position: absolute;

left: 405px;
top: -100px;
}

.donut15{
position: absolute;
left: 853px;
top: 101px;
}

.donut16{
    
position: absolute;

left: 831px;
top: 101px;
}

.donuttext{
position: absolute;
left: 24px;
top: 305px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;

color: #000000;
}

.sleep{
position: absolute;
left: 100px;
top: 249px;
}

.sleeptext{
position: absolute;
width: 928px;
height: 235px;
left: 498px;
top: 577px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 40px;

color: #000000;
}

.contact{
    
position: absolute;
width: 1656px;
height: 173px;
left: 44px;
top: 557px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 120px;

color: #ED5AA0;
}

.do1{
position: absolute;
left: 645px;
top: 96px;
}

.do2{
position: absolute;
left: -282px;
top: 176px;
}

.ttext{
position: absolute;
width: 1277px;
height: 376px;
left: 84px;
top: 250px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
line-height: normal;
font-size: 52px;
text-align: center;

color: #000000;
}
