@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {outline: 1px solid lime}

body {
    font-family: Roboto;
}

body {
    background-image: url("background2.png");
}


.logoarea {
    text-align: center;
}

.lardlad {
    font-family: Sigmar One;
    font-size: 96px;
    color: #B60000;
}

.donuts {
    font-family: Sigmar One;
    font-size: 96px;
    color: #214CFE;
}

.home {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 48px;
    color: #000000;
}

.links {
    text-align: center;
    font-size: 48px;
    color: deeppink;
}



.links a {
    display: inline-block;
}

.nav_spacer {
    width: 200px;
}

.lard {
    float: right;
    width: 35%;
}

.mid-column {
    width: 30%;
    float: left;
    text-align: center;
}

.text{
    float: left;
    width: 35%;
    font-family: Roboto;
    font-size: 36px;
    color: #ED5AA0;
}
.leftcollum{
   float: left;
    width: 35%;
    font-family: Roboto;
    font-size: 36px;
    color: #ED5AA0;
}

.rightcolloum{
   float: left;
    width: 35%;
    font-family: Roboto;
    font-size: 36px;
    color: #ED5AA0;   
}

.donuttext{
float: right;
width: 30%;
font-family: Roboto;
font-size: 40px;

color:deeppink;
}

/*.sleep{
position: absolute;
left: 100px;
top: 249px;
width: 100%
}*/

.do1{
float: right;
width: 30%;   
}
.do2{
float: right;
width: 30%;   
}

.ttext{
float: right;
width: 40%;
font-family: Roboto;
font-size: 60px;  
color: #ED5AA0;
}

.contact{
float: right;
width: 100%;
font-family: Roboto;
font-size: 140px;
color: #ED5AA0;
}

