@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.lardlad{


position: absolute;
width: 1067px;
height: 158px;
left: 176px;
top: 22px;

font-family: Sigmar One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 96px;
color: #B60000;

}

.donuts{
position: absolute;
width: 1067px;
height: 158px;
left: 700px;
top: 22px;

font-family: Sigmar One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 96px;
color: #214CFE;

}
.links{
    position: absolute;
width: 278px;
height: 89px;
left: 1309px;
top: 13px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;

color: #ED5AA0;
}
.links1{
    position: absolute;
width: 304px;
height: 116px;
left: 24px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}

.links2{
    position: absolute;
width: 135px;
height: 57px;
left: 328px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}

.links3{
    position: absolute;
width: 132px;
height: 57px;
left: 947px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}
.links4{
position: absolute;
width: 215px;
height: 57px;
left: 1129px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;

color: #000000;
}

.lardladimg{   
position: absolute;
left: 486px;
top: 160px;
}

.donut1{   
position: absolute;
left: 720px;
top: -250px;
}
.donut2{
position: absolute;
left: -181px;
top: -363px;
}

.donut3{
position: absolute;
left: -50px;
top: 6px;
}



.donut5{
    
position: absolute;
left: -280px;
top: 241px;

}

.donut6{
position: absolute;
left: -181px;
top: -363px;

}
.donut7{
position: absolute;
left: 1091px;
top: -522px;
}